<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="/src/public/fonts/fontawesome-free-6.2.1-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400, 500, 700&display=swap&subset=vietnamese" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="app">
        <header class="header ">
            <div class="grid">

                <nav class="header__navbar">
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item header__navbar-item-has-qr header__navbar-item--separate">
                            Vào cửa hàng trên ứng dụng Choos shop
                            <div class="header__qr">
                                <img src="/image/qrCode.png" alt="QR code" class="header__qr-img">
                                <div class="header__qr-apps">
                                    <a href="#" class="header__qr-link">

                                        <img src="/image/google.png" alt="Google" class="header__qr-dowload-img">

                                    </a>
                                    <a href="#" class="header__qr-link">
                                        <img src="/image/appstore.png" alt="Apstore" class="header__qr-dowload-img">


                                    </a>
                                    

                                </div>
                            </div>
                        </li>
                        <li class="header__navbar-item">
                            <span class="header__navbar-title-no-pointer">Kết nối</span>
                            <a href="#" class="header__navbar-icon-link">
                                <i class="header__navbar-icon fa-brands fa-facebook"></i>
                            </a>
                            <a href="#" class="header__navbar-icon-link">
                                <i class="header__navbar-icon fa-brands fa-instagram"></i>
                            </a>
                        </li>
                    
                    </ul>
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item header__navbar-item-show-notify">
                            <a href="#" class="header__navbar-item-link">
                                <i class="header__navbar-icon fa-solid fa-bell"></i>
                                Thông báo
                            </a>
                            <div class="header__notify">
                                <header class="header__notify-header">
                                    <h3>Thông báo mới nhận</h3>
                                </header>
                                <ul class="header__notify-list">
                                    <li class="header__notify-item header__notify-item--seen">
                                        <a href="#" class="header__notify-link">
                                            <img src="https://theme.hstatic.net/200000278317/1000929405/14/instagram_2_large.jpg?v=153" alt="" class="header__notify-img">
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">NIKE ZOOM MERCURIAL SUPERFLY 9 ACADEMY TF - DJ5629-780 - VÀNG/HỒNG</span>
                                                <span class="header__notify-descriotion">Mô tả giày chính hãng</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="header__notify-item">
                                        <a href="#" class="header__notify-link">
                                            <img src="https://theme.hstatic.net/200000278317/1000929405/14/instagram_2_large.jpg?v=153" alt="" class="header__notify-img">
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">NIKE ZOOM MERCURIAL SUPERFLY 9 ACADEMY TF - DJ5629-780 - VÀNG/HỒNG</span>
                                                <span class="header__notify-descriotion">Mô tả giày chính hãng</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="header__notify-item">
                                        <a href="#" class="header__notify-link">
                                            <img src="https://theme.hstatic.net/200000278317/1000929405/14/instagram_2_large.jpg?v=153" alt="" class="header__notify-img">
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">NIKE ZOOM MERCURIAL SUPERFLY 9 ACADEMY TF - DJ5629-780 - VÀNG/HỒNG</span>
                                                <span class="header__notify-descriotion">Mô tả giày chính hãng</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <footer class="header__notify-footer">
                                    <a href="#" class="header__notify-footer-btn">Xem tất cả</a>
                                </footer>
                            </div>
                        </li>
                        <li class="header__navbar-item">
                            <a href="#" class="header__navbar-item-link">
                                <i class="header__navbar-icon fa-regular fa-circle-question"></i>
                                Trợ giúp
                            </a>
                        </li>
                        <!-- <li class="header__navbar-item header__navbar-item--strong header__navbar-item--separate ">Đăng ký</li>
                        <li class="header__navbar-item header__navbar-item--strong  ">Đăng nhập</li> -->

                        <li class="header__navbar-item header__navbar-item-use">
                            <img src="/image/z3510477148588_25c6bbeaba355f795c457dc36d6a3482.jpg" alt="" class="header__navbar-use-img">
                            <span class="header__navbar-use-name">22Choos</span>

                            <ul class="header__navbar-use-menu">
                                <li class="header__navbar-use-item">
                                    <a href="#">Tài khoản của tôi</a>
                                </li>
                                <li class="header__navbar-use-item">
                                    <a href="#">Địa chỉ của tôi</a>
                                </li>
                                <li class="header__navbar-use-item">
                                    <a href="#">Đơn mua của tôi</a>
                                </li>
                                <li class="header__navbar-use-item">
                                    <a href="#">Đăng xuất của tôi</a>
                                </li>
                            </ul>
                        </li>
                    
                    </ul>
                    
                </nav>
            
                <!-- Header with search -->
                <div class="header-with-search">
                    <div class="header__logo">
                        <a href="/" class="header__logo-link">
                            <img
	                        src="/image/Choos Shop (1).png"
	                        alt="" class="header__logo-img"
                        />
                        </a>
                        
                    </div>
                    <div class="header__search">
                        <div class="header__search-input-wrap">
                            <input type="text" class="header__search-input" placeholder="Tìm kiếm">
                            <div class="header__search-history">
                                <h3 class="header__search-history-heading">Lịch sử tìm kiếm</h3>
                                <ul class="header__search-history-list">
                                    <li class="header__search-history-item">
                                        <a href="#">Ratatata</a>
                                    </li>
                                    <li class="header__search-history-item">
                                        <a href="#">Kakakakaka</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <button class="header__search-button">
                            <i class="header__search-button-icon fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>

                    <div class="header__cart">
                        <div class="header__cart-wrap">
                            <i class="header__cart-icon fa-solid fa-cart-shopping"></i>
                            <span class="header__cart-notice">3</span>
                            <!-- No cart: header__cart-list--no-cart -->
                            <div class="header__cart-list ">
                                <img src="https://theme.hstatic.net/200000278317/1000929405/14/instagram_2_large.jpg?v=153" alt="" class="header__cart-no-cart-img">
                                <span class="header__cart-list-msg">
                                    Chưa có sản phẩm
                                </span>
                                <h4 class="header__cart-heading">Sản phẩm đã thêm</h4>
                                <ul class="header__cart-list-item">
                                    <li class="header__cart-item">
                                        <img src="https://theme.hstatic.net/200000278317/1000929405/14/instagram_2_large.jpg?v=153" alt="" class="header__cart-img">
                                        <div class="header__cart-item-info">
                                            <div class="header__cart-item-head">
                                                <h5 class="header__cart-item-name">Giày sân cỏ nhân tạo</h5>
                                                <div class="header__cart-item-price-wrap">
                                                    <span class="header__cart-item-prince">2.000.000vnđ</span>
                                                    <span class="header__cart-item-multiply">x</span>
                                                    <span class="header__cart-item-qnt">2</span>
                                                </div>
                                            </div>
                                            <div class="header__cart-item-body">
                                                <span class="header__cart-item-description">
                                                    Phân loại: Bạc
                                                </span>
                                                <span class="header__cart-item-remove">Xóa</span>
                                            </div>

                                        </div>
                                    </li>
                                </ul>

                                <ul class="header__cart-list-item">
                                    <li class="header__cart-item">
                                        <img src="https://theme.hstatic.net/200000278317/1000929405/14/instagram_2_large.jpg?v=153" alt="" class="header__cart-img">
                                        <div class="header__cart-item-info">
                                            <div class="header__cart-item-head">
                                                <h5 class="header__cart-item-name">Giày sân cỏ nhân tạo</h5>
                                                <div class="header__cart-item-price-wrap">
                                                    <span class="header__cart-item-prince">2.000.000vnđ</span>
                                                    <span class="header__cart-item-multiply">x</span>
                                                    <span class="header__cart-item-qnt">2</span>
                                                </div>
                                            </div>
                                            <div class="header__cart-item-body">
                                                <span class="header__cart-item-description">
                                                    Phân loại: Bạc
                                                </span>
                                                <span class="header__cart-item-remove">Xóa</span>
                                            </div>

                                        </div>
                                    </li>
                                </ul>

                                <ul class="header__cart-list-item">
                                    <li class="header__cart-item">
                                        <img src="https://theme.hstatic.net/200000278317/1000929405/14/instagram_2_large.jpg?v=153" alt="" class="header__cart-img">
                                        <div class="header__cart-item-info">
                                            <div class="header__cart-item-head">
                                                <h5 class="header__cart-item-name">Giày sân cỏ nhân tạo</h5>
                                                <div class="header__cart-item-price-wrap">
                                                    <span class="header__cart-item-prince">2.000.000vnđ</span>
                                                    <span class="header__cart-item-multiply">x</span>
                                                    <span class="header__cart-item-qnt">2</span>
                                                </div>
                                            </div>
                                            <div class="header__cart-item-body">
                                                <span class="header__cart-item-description">
                                                    Phân loại: Bạc
                                                </span>
                                                <span class="header__cart-item-remove">Xóa</span>
                                            </div>

                                        </div>
                                    </li>
                                </ul>

                                <ul class="header__cart-list-item">
                                    <li class="header__cart-item">
                                        <img src="https://theme.hstatic.net/200000278317/1000929405/14/instagram_2_large.jpg?v=153" alt="" class="header__cart-img">
                                        <div class="header__cart-item-info">
                                            <div class="header__cart-item-head">
                                                <h5 class="header__cart-item-name">Giày sân cỏ nhân tạo</h5>
                                                <div class="header__cart-item-price-wrap">
                                                    <span class="header__cart-item-prince">2.000.000vnđ</span>
                                                    <span class="header__cart-item-multiply">x</span>
                                                    <span class="header__cart-item-qnt">2</span>
                                                </div>
                                            </div>
                                            <div class="header__cart-item-body">
                                                <span class="header__cart-item-description">
                                                    Phân loại: Bạc
                                                </span>
                                                <span class="header__cart-item-remove">Xóa</span>
                                            </div>

                                        </div>
                                    </li>
                                </ul>

                                <ul class="header__cart-list-item">
                                    <li class="header__cart-item">
                                        <img src="https://theme.hstatic.net/200000278317/1000929405/14/instagram_2_large.jpg?v=153" alt="" class="header__cart-img">
                                        <div class="header__cart-item-info">
                                            <div class="header__cart-item-head">
                                                <h5 class="header__cart-item-name">Giày sân cỏ nhân tạo</h5>
                                                <div class="header__cart-item-price-wrap">
                                                    <span class="header__cart-item-prince">2.000.000vnđ</span>
                                                    <span class="header__cart-item-multiply">x</span>
                                                    <span class="header__cart-item-qnt">2</span>
                                                </div>
                                            </div>
                                            <div class="header__cart-item-body">
                                                <span class="header__cart-item-description">
                                                    Phân loại: Bạc
                                                </span>
                                                <span class="header__cart-item-remove">Xóa</span>
                                            </div>

                                        </div>
                                    </li>
                                </ul>

                                <ul class="header__cart-list-item">
                                    <li class="header__cart-item">
                                        <img src="https://theme.hstatic.net/200000278317/1000929405/14/instagram_2_large.jpg?v=153" alt="" class="header__cart-img">
                                        <div class="header__cart-item-info">
                                            <div class="header__cart-item-head">
                                                <h5 class="header__cart-item-name">Giày sân cỏ nhân tạo</h5>
                                                <div class="header__cart-item-price-wrap">
                                                    <span class="header__cart-item-prince">2.000.000vnđ</span>
                                                    <span class="header__cart-item-multiply">x</span>
                                                    <span class="header__cart-item-qnt">2</span>
                                                </div>
                                            </div>
                                            <div class="header__cart-item-body">
                                                <span class="header__cart-item-description">
                                                    Phân loại: Bạc
                                                </span>
                                                <span class="header__cart-item-remove">Xóa</span>
                                            </div>

                                        </div>
                                    </li>
                                </ul>

                                <ul class="header__cart-list-item">
                                    <li class="header__cart-item">
                                        <img src="https://theme.hstatic.net/200000278317/1000929405/14/instagram_2_large.jpg?v=153" alt="" class="header__cart-img">
                                        <div class="header__cart-item-info">
                                            <div class="header__cart-item-head">
                                                <h5 class="header__cart-item-name">Giày sân cỏ nhân tạo</h5>
                                                <div class="header__cart-item-price-wrap">
                                                    <span class="header__cart-item-prince">2.000.000vnđ</span>
                                                    <span class="header__cart-item-multiply">x</span>
                                                    <span class="header__cart-item-qnt">2</span>
                                                </div>
                                            </div>
                                            <div class="header__cart-item-body">
                                                <span class="header__cart-item-description">
                                                    Phân loại: Bạc
                                                </span>
                                                <span class="header__cart-item-remove">Xóa</span>
                                            </div>

                                        </div>
                                    </li>
                                </ul>

                                <ul class="header__cart-list-item">
                                    <li class="header__cart-item">
                                        <img src="https://theme.hstatic.net/200000278317/1000929405/14/instagram_2_large.jpg?v=153" alt="" class="header__cart-img">
                                        <div class="header__cart-item-info">
                                            <div class="header__cart-item-head">
                                                <h5 class="header__cart-item-name">Giày sân cỏ nhân tạo</h5>
                                                <div class="header__cart-item-price-wrap">
                                                    <span class="header__cart-item-prince">2.000.000vnđ</span>
                                                    <span class="header__cart-item-multiply">x</span>
                                                    <span class="header__cart-item-qnt">2</span>
                                                </div>
                                            </div>
                                            <div class="header__cart-item-body">
                                                <span class="header__cart-item-description">
                                                    Phân loại: Bạc
                                                </span>
                                                <span class="header__cart-item-remove">Xóa</span>
                                            </div>

                                        </div>
                                    </li>
                                </ul>

                                <ul class="header__cart-list-item">
                                    <li class="header__cart-item">
                                        <img src="https://theme.hstatic.net/200000278317/1000929405/14/instagram_2_large.jpg?v=153" alt="" class="header__cart-img">
                                        <div class="header__cart-item-info">
                                            <div class="header__cart-item-head">
                                                <h5 class="header__cart-item-name">Giày sân cỏ nhân tạo</h5>
                                                <div class="header__cart-item-price-wrap">
                                                    <span class="header__cart-item-prince">2.000.000vnđ</span>
                                                    <span class="header__cart-item-multiply">x</span>
                                                    <span class="header__cart-item-qnt">2</span>
                                                </div>
                                            </div>
                                            <div class="header__cart-item-body">
                                                <span class="header__cart-item-description">
                                                    Phân loại: Bạc
                                                </span>
                                                <span class="header__cart-item-remove">Xóa</span>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                                <a href="#" class="header__cart-view-cart btn btn--primary"> Xem giỏ hàng </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>    
    
</body>
</html>